.liquid-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: var(--bg-color);
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 20s infinite alternate;
}

.blob-1 {
    top: -10%;
    left: -10%;
    width: 50vw;
    height: 50vw;
    background: var(--accent-1);
    animation-duration: 25s;
}

.blob-2 {
    bottom: -10%;
    right: -10%;
    width: 60vw;
    height: 60vw;
    background: var(--accent-2);
    animation-duration: 30s;
    animation-delay: -5s;
}

.blob-3 {
    top: 40%;
    left: 40%;
    width: 40vw;
    height: 40vw;
    background: var(--accent-3);
    animation-duration: 35s;
    animation-delay: -10s;
}

.blob-4 {
    bottom: 20%;
    left: 10%;
    width: 30vw;
    height: 30vw;
    background: #7928ca;
    animation-duration: 28s;
    animation-delay: -15s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 12, 41, 0.3);
    /* Slight overlay to darken */
    backdrop-filter: blur(0px);
    /* Just in case */
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    33% {
        transform: translate(50px, 50px) rotate(10deg);
    }

    66% {
        transform: translate(-30px, 80px) rotate(-5deg);
    }

    100% {
        transform: translate(20px, -40px) rotate(5deg);
    }
}